@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
    font-family: 'Epilogue', sans-serif;
}
body{
    background-color: #f3f3f3;
}
:root{
    --IZC: #00B4E5;
    --contraste: #edf2f5;
    --titulo: #555;
    --Subtitulo: #333;
}
img{
    max-width:100%;
    height:auto;    
}
h1, h2, h3:not(h3){
    font-size: 30px;
    text-transform: uppercase;
    color: var(--titulo);
}
h3{
    text-transform: uppercase;
    color: var(--titulo);
    font-size: 24px;
}
hr{
    margin: 5px auto 15px; 
}
.flex-around{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/* ------------------------------------------------------------ */
/* WhatsApp */
/* ------------------------------------------------------------ */
#Whatsapp{
    position: fixed;
    bottom: 0;
    left: 6px;
}
#Whatsapp img{
    width: 85px;
}
/* ------------------------------------------------------------ */
/* header */
/* ------------------------------------------------------------ */
header{
    background-color: #f3f3f3;
    width: 100%;
}
header .logo img{ 
    padding: 12px;
    width: 140px;
}
header ul li{
    text-align: center;
    margin: 10px 0px;
    color: #555;
    padding: 15px;
}
header a li:not(header ul a li){
    background-color: var(--IZC);
    padding: 12px;
    margin: 15px;
    width: 160px;
    text-align: center;
    color: #eee;
    border-radius: 50px;
}
header ul li:hover{
    border-bottom: .5px solid var(--IZC);
}
/*------------------------------------------*/
/*continer*/
/*------------------------------------------*/
.container{
    width: 90%;
    margin: auto;
}
/*------------------------------------------*/
/*main*/
/*------------------------------------------*/
main{
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main section{
    padding-top: 60px;
    height: 70vh;
}
main div{
    width: 80%;
}
h1{
    width: 600px;
    font-size: 70px;
}
/*------------------------------------------*/
/*icons*/
/*------------------------------------------*/
.icons{
    margin-top: 30px;
}
.icons div{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    padding: 12px;
}
.icons div img{
    margin: 10px 0px;
    border: .5px solid #eee;
    background-color: #d4d3d1b0;
    width: 60px;
}
/*------------------------------------------*/
/*servidor*/
/*------------------------------------------*/
.servidor{
    margin: 50px auto;
    flex-wrap: wrap-reverse;
}
.servidor div{
    width: 600px;
}
.servidor ul{
    padding: 12px;
}
.servidor ul li{
    padding: 12px;
    margin: 5px;
    background-color: #EEE;
    box-shadow: inset 2px 2px 5px #b1b1b1;
    border-radius: 8px;
}
.servidor img{
    border-radius: 8px;
    width: 300px;
    box-shadow: -5px 5px 5px #909090;
    margin: 35px;
}
.servidor button{
    padding: 12px;
    border: 0;
    background-color: var(--IZC);
    color: #fff;
    width: 100%;
    border-radius: 6px;
}
/*------------------------------------------*/
/*productos*/
/*------------------------------------------*/
.productos{
    width: 95%;
    margin: 150px auto 70px;
}
.productos-container div{
    background-color: #d6d3d3;
    margin: 2px;
    width: 200px;
    box-shadow: -3px 3px 2px #909090cc;
    border-radius: 5px;
}
.productos-container p{
    text-align: center;
}
.productos img, .productos div div{
    padding: 3px;
}
/*------------------------------------------*/
/*line-description-product*/
/*------------------------------------------*/
.line-description-product{
    width: 95%;
    margin: auto;
}
.line-description-product div{
    margin: 20px 15px;
}
/*------------------------------------------*/
/*distribuidor*/
/*------------------------------------------*/
.distribuidor{
    margin: 150px auto 100px;
}
.distribuidor div{
    justify-content: flex-start;
    padding: 0px 10px;
    border-radius: 8px;
}
.distribuidor p{
    min-width: 250px;
    margin: 8px;
    border-radius: 50px;
    padding: 23px;
    background-color: #eee;
    box-shadow: inset 2px 2px 5px #b1b1b1;
}
/*------------------------------------------*/
/*tabla*/
/*------------------------------------------*/
.tabla{
    width: 90%;
    margin: auto;
}
.main-form{
    margin: 55px auto 15px;
    display: flex;
    justify-content: center;
}
.main-form select{
    width: 100%;
    padding: 8px;
}
.tabla table{
    margin: auto;
    border: 1px solid #bbb;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 8px;
}
.tabla table thead{
    background-color: var(--IZC);
}
.tabla table thead th{
    color: #fff;
    padding: 8px;
}
.tabla table input, .tabla table select{
    padding: 6px;
}
.tabla table select{
    width: 100%;
}
.total button{
    position: sticky;
}




@media screen and (max-width: 590px) {
    .logo-header{
        display: none;
    }
    header .logo{
        display: flex;
    }
    main{
        padding-top: 90px;
    }
}