@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
    font-family: 'Epilogue', sans-serif;
}
body{
    background-color: #f3f3f3;
}
:root{
    --IZC: #00B4E5;
    --contraste: #edf2f5;
    --titulo: #555;
    --Subtitulo: #333;
}
img{
    max-width:100%;
    height:auto;    
}
h1, h2, h3:not(h3){
    font-size: 30px;
    text-transform: uppercase;
    color: var(--titulo);
}
h3{
    text-transform: uppercase;
    color: var(--titulo);
    font-size: 24px;
}
hr{
    margin: 5px auto 15px; 
}
.flex-around{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* ------------------------------------------------------------ */
/* WhatsApp */
/* ------------------------------------------------------------ */
#Whatsapp{
    position: fixed;
    bottom: 0;
    left: 6px;
}
#Whatsapp img{
    width: 85px;
}
/* ------------------------------------------------------------ */
/* header */
/* ------------------------------------------------------------ */
header{
    background-color: #f3f3f3;
    min-width: 100%;
}
.logo-web img, .logo-mobile img{ 
    padding: 12px;
    width: 140px;
}
.logo-mobile{
    display: none;
}
header .menu li{
    text-align: center;
    margin: 10px 0px;
    color: #555;
    padding: 15px;
}
header .menu li i, .menu-contact i{
    display: none;
}
header button{
    border: 0;
}
.menu-contact :not(header ul a li){
    background-color: var(--IZC);
    padding: 12px;
    margin: 15px;
    width: 160px;
    text-align: center;
    color: #eee;
    border-radius: 50px;    
    cursor: pointer;
}
header ul li:hover{
    border-bottom: .5px solid var(--IZC);
}
/*------------------------------------------*/
/*continer*/
/*------------------------------------------*/
.container{
    width: 90%;
    margin: 0 auto;
}
/*------------------------------------------*/
/*main*/
/*------------------------------------------*/
main{
    width: 100%;
    height: 600px;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main section{
    height: 70vh;
}
main div{
    margin-left: 50px;
}
h1{
    width: 70%;
    font-size: 70px;
}
/*------------------------------------------*/
/*icons*/
/*------------------------------------------*/
.icons{
    margin-top: 30px;
}
.icons div{
    width: 200px;
    height: 200px;
    border-radius: 6px;
    padding: 12px;
}
.icons div img{
    margin: 10px 0px;
    border: .5px solid #eee;
    background-color: #d4d3d1b0;
    width: 60px;
}
/*------------------------------------------*/
/*servidor*/
/*------------------------------------------*/
.servidor{
    margin: 50px auto;
    flex-wrap: wrap-reverse;
}
.servidor div{
    width: 600px;
}
.servidor ul{
    padding: 12px;
}
.servidor ul li{
    padding: 12px;
    margin: 5px;
    background-color: #EEE;
    box-shadow: inset 2px 2px 5px #b1b1b1;
    border-radius: 8px;
}
.servidor img{
    border-radius: 8px;
    width: 300px;
    box-shadow: -5px 5px 5px #90909044;
    margin: 35px;
}
.servidor button{
    padding: 12px;
    border: 0;
    background-color: var(--IZC);
    color: #fff;
    width: 100%;
    border-radius: 6px;
}
/*------------------------------------------*/
/*productos*/
/*------------------------------------------*/
.productos{
    width: 95%;
    margin: 100px auto;
}
.productos-container .productos--card{
    /* background-color: #d6d3d3; */
    margin: 5px 3px; 
    /* width: 200px; */
}
.productos--card img{
    border-radius: 5px;
    box-shadow: inset 3px 3px 5px #c2c1c1cc;
    width: 200px;
}
.productos-container p{
    text-align: center;
}
.productos img, .productos div div{
    padding: 3px;
}
/*------------------------------------------*/
/*line-description-product*/
/*------------------------------------------*/
.line-description-product{
    width: 95%;
    margin: auto;
}
.line-description-product div{
    max-width: 900px;
    margin: 40px auto;
}
/*------------------------------------------*/
/*distribuidor*/
/*------------------------------------------*/
.distribuidor{
    margin: 150px auto 100px;
}
.distribuidor div{
    justify-content: flex-start;
    padding: 0px 10px;
    border-radius: 8px;
}
.distribuidor p{
    min-width: 250px;
    margin: 8px;
    border-radius: 50px;
    padding: 23px;
    background-color: #eee;
    box-shadow: inset 2px 2px 5px #b1b1b1;
}
.distribuidor .contact-form--button p{
    background-color: var(--IZC);
    box-shadow: none;
    color: #fff;
}
/*------------------------------------------*/
/*calculadora*/
/*------------------------------------------*/
.table{
    width: 95%;
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 8px;
    max-width: 800px;
}
.table--time{
    margin: 55px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}
.table select, .table input{
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
}
.table thead{
    background-color: var(--IZC);
}
.table thead th{
    color: #fff;
    padding: 7px;
    font-weight: normal;
}
.table--total{
    font-size: 18px;
    background-color: var(--IZC);
    width: 80%;
    padding: 7px;
    border-radius: 7px;
    border: 0;
    margin-top: 10px;
    color: #fff;
}
.total button{
    margin: 15px auto;
    max-width: 800px;
    width: 100%;
    padding: 12px;
    margin-bottom: 100px;
}
/*------------------------------------------*/
/*sweet alert*/
/*------------------------------------------*/
.swal2-title{
    font-size: 22px;
}
.btn_wp_sweet img{
    width: 80px;
}



@media screen and (max-width: 760px) {
    .logo-web{
        display: none;
    }
    .logo-mobile{
        display: flex;
        width: 100%;
    }
    header{
        position: fixed;
        bottom: 0;
        max-width: 100%;
    }
    header .menu{
        width: 80%;
    }
    header .menu li i, .menu-contact i{
        display: inline;
        font-size: 22px;
        color: #666;
    }
    header .menu li p, .menu-contact p{
        display: none;
    }
    /*------------------------------------------*/
    /*main*/
    /*------------------------------------------*/
    h1{
        font-size: 50px;
    }
    /*------------------------------------------*/
    /*productos*/
    /*------------------------------------------*/
    .productos--card img{
        width: 100%;
    }
    /*------------------------------------------*/
    /*distribuidor*/
    /*------------------------------------------*/
    .distribuidor p{
        min-width: 100%;
    }
    .distribuidor .contact-form--button{
        margin: 0 auto;
    }
    .distribuidor .contact-form--button p{
        padding: 15px;
    }
    /*------------------------------------------*/
    /*whatsapp*/
    /*------------------------------------------*/
    #Whatsapp{
        display: none;
    }
}