@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,700;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #f3f3f3;
    font-family: sans-serif;
}
:root{
    --IZC: #00B4E5;
    --colorMenu: white;
    --FondoGris: #edf2f5;
    --Titulo: #1e2427;
    --Subtitulo: #333;
}
img{
    max-width:100%;
    height:auto;    
}
/* ------------------------------------------------------------ */
/* WhatsApp */
/* ------------------------------------------------------------ */
#Whatsapp{
    position: fixed;
    bottom: 0;
    left: 6px;
}
#Whatsapp img{
    width: 85px;
}
/* ------------------------------------------------------------ */
/* header */
/* ------------------------------------------------------------ */
header{
    transition: 2s;
    background-image: linear-gradient();
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
header .logo-header img{
    margin-top: 30px;
    padding: 12px;
    width: 160px;
    background-color: #f3f3f3;
    border-radius: 50%;
}
header .logo{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    display: none;
}
header .logo img{ 
    padding: 12px;
    width: 160px;
}
header ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--IZC);
    height: 50px;
}
header ul li{
    text-align: center ;
    margin: 10px 0px;
    color: #383434;
    padding: 15px;
    color: #fff;
}
header ul li:hover{
    transition: 1s;
    background-color: #7271716e;
}

/*------------------------------------------*/
/*continer*/
/*------------------------------------------*/
.container{
    width: 90%;
    margin: auto;
}
/*------------------------------------------*/
/*main*/
/*------------------------------------------*/
main{
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main .logo{
    width: 130px;
}
main h1{
    font-size: 45px;
}
main .main-img-carrousel{
    width: 300px;
    padding: 35px;
}

@media screen and (max-width: 590px) {
    .logo-header{
        display: none;
    }
    header .logo{
        display: flex;
    }
    main{
        padding-top: 90px;
    }
}